<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Basic Blog</title>

        {% if redirect_main == True %}
            <meta http-equiv="refresh" content="3; url=/blog">
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css "href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <div class="container-fluid">
            <header>
                <div class="row">
                    <div class="col-sm-12 account-links">
                        {% if username %}
                            ({{username}})
                            <a href="/blog/logout">Logout</a>
                        {% else %}
                            <a href="/blog/signup">Signup</a> / <a href="/blog/login">Login</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 header-div">
                        <a href="/blog"><h1>A Basic Blog</h1></a>
                    </div>
                    <div class="col-sm-6 new-post-div">
                        <a href="/blog/newpost">
                            <span class="new-post-span">
                                New Post
                            </span>
                        </a>
                    </div>
                </div>
            </header>
            <section>
                {% block content %}
                {% endblock %}
            </section>
        </div>
    </body>
</html>