<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Basic Blog</title>

        {% if redirect_main == True %}
            <meta http-equiv="refresh" content="2; url=/blog">
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css "href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 header-div">
                        <a href="/blog"><h1>A Basic Blog</h1></a>
                    </div>
                </div>
            </div>
        </header>
        <section>
            {% block content %}
            {% endblock %}
        </section>
    </body>
</html>