{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-6 last-modified">
        {% if time_diff > 1 %}
        Last modified: {{blog.last_modified.strftime('%b %d, %Y - %I:%M%p')}}
        {% endif %}
    </div>
    <div class="col-sm-6">
        {% if blog.author == username %}
        <span class="edit-button">
            <a href="{{edit_url}}">Edit</a>
        </span>
        {% endif %}
    </div>
</div>
<br>

{% include "single-post.html" %}

Add comments section here.

{% endblock %}