<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Basic Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css "href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 header-div">
                        <a href="/blog"><h1>Udacity Basic Blog</h1></a>
                    </div>
                </div>
            </div>
        </header>
        <section>
            <div class="container-fluid">
                <div class="row title-row">
                    <div class="col-sm-6 blog-title">
                        Blog Post Title
                    </div>
                    <div class="col-sm-6 blog-date">
                        <span class="date-span">
                            June 22, 2016
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 blog-content">
                        <p>
                        Pasta ipsum dolor sit amet torchio bavettine bucatini trofie spirali ziti linguine fusilli lunghi fettuce timpano campanelle mezzani pasta. Trennette calamarata trennette tripoline gemelli tripoline fettuce cencioni penne rigate marziani foglie d'ulivo. Penne lisce mezzani pasta fettucelle torchio penne rigate foglie d'ulivo occhi di lupo fusilli bucati trennette mafaldine spirali pennette timpano fedelini. Tortiglioni garganelli gnocchi rigatoncini linguine rotelle vermicelloni. Conchiglioni elicoidali spaghettoni maccheroncelli fettuccine bavette lumaconi fiorentine gnocchi quadrefiore cavatappi.
                        </p>
                        <p>
                        Quadrefiore penne rigate mezzani pasta conchiglie gemelli mostaccioli capelli d'angelo ditalini mafalde torchio radiatori tortellini bavettine. Penne lisce chifferi sagnarelli farfalle ravioli conchiglioni tripoline gnocchi fusilli lunghi fusilli bucati bavette marziani pastina cavatappi. Sagne 'ncannulate ziti stringozzi spirali capunti fettuce trenette gemelli. Pennoni tripoline campanelle lasagnotte spaghettoni lanterne trennette cannelloni mezze penne pasta al ceppo. Ziti penne fagioloni mezzani pasta tortiglioni fiorentine sacchettini bavette.
                        </p>
                        <p>
                        Vermicelloni trennette stringozzi mafaldine fedelini. Maltagliati manicotti mezzi bombardoni trofie fettucelle taglierini farfalloni maltagliati corzetti mezze penne tortiglioni calamaretti ricciutelle spiralini. Fiori lumaconi lasagnette rigatoni lasagnotte pizzoccheri lasagne.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>