<!-- Note - isn't extending anything -->
<!-- only ever used as a chunk w/in other templates. -->

    <div class="row title-row">
        <div class="col-sm-9 blog-title">
            <a href="/blog/{{blog.key().id()}}">{{blog.title}}</a>
        </div>
        <div class="col-sm-3 blog-date">
            <span class="date-span">
                {{blog.created.strftime('%b %d, %Y - %I:%M%p')}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 blog-content">{{blog.content}}</div>
    </div>
    <div class="row">
        <div class="col-sm-6 author-name">
            -- {{blog.author}}
            <br>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <form action="" method="post">
                {% if not vote_dict[blog.key().id()][1] %}
                {# <input type="submit" value="Like" name="like"> #}
                <button type="submit" value="{{blog.key().id()}}" name="like">Like</button>
                {% else %}
                {# <input type="submit" value="LIKED!" name="unlike"> #}
                <button type="submit" value="{{blog.key().id()}}" name="unlike">LIKED!</button>
                {% endif %}
                 - {{vote_dict[blog.key().id()][0]}}
            </form>
            <div class="like_error">
                {% if like_error and like_error[0] == blog.key().id() %}
                {{like_error[1]}}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-3">

        </div>

    </div>
    <br>
    <br>