    <div class="row title-row">
        <div class="col-sm-9 blog-title">
            <a href="/blog/{{blog.key().id()}}">{{blog.title}}</a>
        </div>
        <div class="col-sm-3 blog-date">
            <span class="date-span">
                {{blog.created.strftime('%b %d, %Y - %I:%M%p')}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 blog-content">{{blog.content}}</div>
    </div>
    {# Note - will be adding author text in a subsequent step. #}
    <div class="row">
        <div class="col-sm-6 author-name">
            -- {{blog.author}}
        </div>
    </div>
    <br>
    <br>